<p id="notice"><%= notice %></p>

<p>
  <strong>Fullname:</strong>
  <%= @registrar.fullname %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @registrar.titulo %>
</p>

<p>
  <strong>Carrera:</strong>
  <%= @registrar.carrera %>
</p>

<p>
  <strong>Institucion:</strong>
  <%= @registrar.institucion %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @registrar.direccion %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @registrar.ciudad %>
</p>

<p>
  <strong>Postal:</strong>
  <%= @registrar.postal %>
</p>

<p>
  <strong>Pais:</strong>
  <%= @registrar.pais %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @registrar.telefono %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @registrar.correo %>
</p>

<p>
  <strong>Cartel:</strong>
  <%= @registrar.cartel %>
</p>

<p>
  <strong>Delser:</strong>
  <%= @registrar.delser %>
</p>

<p>
  <strong>Adultez:</strong>
  <%= @registrar.adultez %>
</p>

<p>
  <strong>Construccion:</strong>
  <%= @registrar.construccion %>
</p>

<p>
  <strong>Quien:</strong>
  <%= @registrar.quien %>
</p>

<p>
  <strong>Como:</strong>
  <%= @registrar.como %>
</p>

<p>
  <strong>Newmun:</strong>
  <%= @registrar.newmun %>
</p>

<p>
  <strong>Desigualdad:</strong>
  <%= @registrar.desigualdad %>
</p>

<p>
  <strong>Vende:</strong>
  <%= @registrar.vende %>
</p>

<p>
  <strong>Sustenta:</strong>
  <%= @registrar.sustenta %>
</p>

<p>
  <strong>Futuro:</strong>
  <%= @registrar.futuro %>
</p>

<%= link_to 'Edit', edit_registrar_path(@registrar) %> |
<%= link_to 'Back', registrars_path %>
