<div class="container">
  <section class="section has-text-centered">
    <div class="container">
      <h1 class="title is-1">
        1er Congreso: Futuro-Transdisciplina y Ciencia
      </h1>
      <h2 class="subtitle is-3">
        Comenzamos en:
      </h2>
      <h2 class="subtitle is-3" id="clock">
      </h2>
    </div>
  </section>
  <section class="section has-text-centered">
    <div class="container">
      <h1 class="title">Convocatoria Ponentes y Participantes en Mesas de
        Debate</h1>
      <h2 class="subtitle">
        El Centro Interdisciplinario de Ciencias de la Salud Unidad Santo Tomás
        (CICS UST) tiene el honor de invitarlo a participar en el 1er Congreso
        de Salud y Calidad de Vida, Trascendiendo
        la enfermedad.
      </h2>
    </div>
  </section>
  <section class="section">
    <div class="content">
      <p class="subtitle">Los ejes tematicos que tomara el congreso son:</p>
      <p class="subtitle">Mesas de debate: </p>
      <ul>
        <li>El nuevo mundo, de lo tangible a lo virtual.</li>
        <li>Desigualdad y los diferentes Méxicos.</li>
        <li>¿Cómo se vende la salud y quién la compra?</li>
        <li>Sustentabilidad de lo insostenible.</li>
        <li>Futuro del "qué" hacer en el profesional de la salud.</li>
      </ul>
      <p class="subtitle">Simposio</p>
      <ul>
        <li>Construcción perceptual del mexicano.</li>
        <li>¿Quién decide por tu salud?</li>
        <li>¿Cómo nos vinculamos con la tierra?</li>
      </ul>
      <p class="subtitle">Carteles de investigación (Exclusivo para estudiantes):</p>
      <ul>
        <li>Salud y calidad de vida.</li>
      </ul>
      <p class="subtitle">Ponencia:</p>
      <ul>
        <li>Del ser al hacer en la ciencias de la salud.</li>
        <li>La adultez en caída libre.</li>
      </ul>
      <p class="subtitle">
        Si a usted le interesa participar en una de las áreas descritas
        deberá seguir los diguientes pasos:
      </p>
      <ul>
        <li>
          Enviar su curriculum vitae con un resumen sobre la temática de
          interés de máximo 400 palabras en un archivo Word (en cualquier
          formato que sea conveniente), en caso del cartel de investigación
          y ponencias, mandar un resumen de 400 palabras y una imagen del
          cartel que desee presentar, la fecha límite será el 21 de
          Septiembre de 2018. (No se permite la promoción comercial/producto
          o patrocinio en la presentación)
        </li>
        <li>
          Si su
          propuesta es aceptada usted podrá participar en el congreso pagando
          el costo de $900.00 pesos,
          si su propuesta de cartel es aceptada usted deberá pagar el costo de
          $500.00 pesos (En caso de pertenecer al Instituto Politécnico
          Nacional, no habrá cobro alguno).
        </li>
        <li>
          Se le notificará por medio de correo electrónico la confirmación
          de su asistencia.
        </li>
      </ul>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <h1 class="title">Preregistro</h1>
      <%= form_for Lead.new, url: {action: "create"}, html: {class: "box has-text-left"} do |f| %>
        <div class="field">
          <label class="label">Nombre</label>
          <div class="control">
            <%= f.text_field :name, class: "input" %>
          </div>
        </div>

        <div class="field">
          <label class="label">Titulo</label>
          <div class="control has-icons-left has-icons-right">
            <%= f.text_field :title, class: "input" %>
            <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
          </div>
        </div>

        <div class="field">
          <label class="label">Carrera (Si eres estudiante)</label>
          <div class="control has-icons-left has-icons-right">
            <%= f.text_field :career, class: "input" %>
            <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
          </div>
        </div>

        <div class="field">
          <label class="label">Institucion</label>
          <div class="control has-icons-left has-icons-right">
            <%= f.text_field :institution, class: "input" %>
            <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
          </div>
        </div>

        <div class="field">
          <label class="label">Direccion</label>
          <div class="control has-icons-left has-icons-right">
            <%= f.text_field :address, class: "input" %>
            <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
          </div>
        </div>

        <div class="field">
          <label class="label">Ciudad</label>
          <div class="control has-icons-left has-icons-right">
            <%= f.text_field :city, class: "input" %>
            <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
          </div>
        </div>

        <div class="field">
          <label class="label">Codigo Postal</label>
          <div class="control has-icons-left has-icons-right">
            <%= f.text_field :postal_code, class: "input" %>
            <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
          </div>
        </div>

        <div class="field">
          <label class="label">Pais</label>
          <div class="control has-icons-left has-icons-right">
            <%= f.text_field :country, class: "input" %>
            <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
          </div>
        </div>

        <div class="field">
          <label class="label">Telefono</label>
          <div class="control has-icons-left has-icons-right">
            <%= f.text_field :phone_number, class: "input" %>
            <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
          </div>
        </div>

        <div class="field">
          <label class="label">Correo Electronico</label>
          <div class="control has-icons-left has-icons-right">
            <%= f.text_field :email, class: "input" %>
            <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
          </div>
        </div>

        <div class="field">
          <div class="file has-name is-boxed">
            <label class="file-label">
              <%= f.file_field :summary, class: 'file-input' %>
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Resumen
                </span>
              </span>
              <span id="summary-filename" class="file-name">Solo Archivos Docx/Doc</span>
            </label>
          </div>
        </div>

        <div class="field">
          <div class="file has-name is-boxed">
            <label class="file-label">
              <%= f.file_field :file, class: 'file-input' %>
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Curriculum Vitae/Cartel
                </span>
              </span>
              <span id="file-filename" class="file-name">Solo archivos Docx/Doc o imagenes</span>
            </label>
          </div>
        </div>

        <p class="control">
          <%= f.submit "Enviar", class: "button is-info" %>
        </p>
      <% end %>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <h1 class="title">Contacto</h1>
      <div class="columns">
        <div class="column">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15048.066631462598!2d-99.1658042!3d19.4548486!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfc518869be8ec0f3!2sCentro+Interdisciplinario+de+Ciencias+de+la+Salud%2C+Unidad+Santo+Tom%C3%A1s+IPN!5e0!3m2!1ses-419!2smx!4v1527467450680" frameborder="0" scrolling="no"></iframe>
        </div>
        <div class="column">
          <div class="content">
            <h4>Av. de los Maestros S/N casi Esquina Calz. de los Gallos</h4>
            <h4>Col. Santo Tomás, Delegación Miguel Hidalgo</h4>
            <h4>C.P. 11340, Ciudad de México</h4>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<script>
    const getRemainingTime = deadline => {
        let now = new Date(),
            remainTime = (new Date(deadline) - now + 1000) / 1000,
            remainSeconds = ('0' + Math.floor(remainTime % 60)).slice(-2),
            remainMinutes = ('0' + Math.floor(remainTime / 60 % 60)).slice(-2),
            remainHours = ('0' + Math.floor(remainTime / 3600 % 24)).slice(-2),
            remainDays = Math.floor(remainTime / (3600 * 24));

        return {
            remainSeconds,
            remainMinutes,
            remainHours,
            remainDays,
            remainTime
        }
    };

    const countdown = (deadline, elem, finalMessage) => {
        const el = document.getElementById(elem);

        const timerUpdate = setInterval(() => {
            let t = getRemainingTime(deadline);
            el.innerHTML = `${t.remainDays} Dias ${t.remainHours} Horas ${t.remainMinutes} Minutos ${t.remainSeconds} Segundos`;

            if (t.remainTime <= 1) {
                clearInterval(timerUpdate);
                el.innerHTML = finalMessage;
            }

        }, 1000)
    };

    countdown('Nov 14 2018 00:00:00 GMT-0500', 'clock', '¡Comenzamos!');

    var file = document.getElementById("lead_file");
    file.onchange = function () {
        if (file.files.length > 0) {
            document.getElementById('file-filename').innerHTML = file.files[0].name;
        }
    };

    var summary = document.getElementById("lead_summary");
    summary.onchange = function () {
        if (summary.files.length > 0) {
            document.getElementById('summary-filename').innerHTML = summary.files[0].name;
        }
    };
</script>
