<section class="hero">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="../">
            <%= image_tag "logo.png" %>
          </a>
          <span class="navbar-burger burger" data-target="navbarMenu">
              <span>Convocatoria</span>
              <span>Preregistro</span>
              <span>Ponentes</span>
          </span>
        </div>
      </div>
    </nav>
  </div>
  <div class="hero-body">
    <div class="container has-text-centered">
      <section class="section">
        <div class="container">
          <h1 class="title">
            1er Congreso: Futuro-Transdisciplina y Ciencia
          </h1>
          <h2 class="subtitle">
            Comenzamos en:
          </h2>
          <h2 class="subtitle" id="clock">
          </h2>
        </div>
      </section>
      <section class="section">
        <div class="container">
          <h1 class="title">Convocatoria</h1>
          <h2 class="subtitle">
            A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading
          </h2>
        </div>
      </section>
      <section class="section">
        <div class="container">
          <h1 class="title">Ponentes</h1>
          <div class="tile is-ancestor">
            <div class="tile is-parent">
              <article class="tile is-child card">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                  </figure>
                </div>
                <div class="card-content">
                  <p class="title">John Smith</p>
                  <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Phasellus nec iaculis mauris.
                  </div>
                </div>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child card">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                  </figure>
                </div>
                <div class="card-content">
                  <p class="title">John Smith</p>
                  <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Phasellus nec iaculis mauris.
                  </div>
                </div>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child card">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                  </figure>
                </div>
                <div class="card-content">
                  <p class="title">John Smith</p>
                  <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Phasellus nec iaculis mauris.
                  </div>
                </div>
              </article>
            </div>
          </div>
          <div class="tile is-ancestor">
            <div class="tile is-parent">
              <article class="tile is-child card">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                  </figure>
                </div>
                <div class="card-content">
                  <p class="title">John Smith</p>
                  <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Phasellus nec iaculis mauris.
                  </div>
                </div>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child card">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                  </figure>
                </div>
                <div class="card-content">
                  <p class="title">John Smith</p>
                  <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Phasellus nec iaculis mauris.
                  </div>
                </div>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child card">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                  </figure>
                </div>
                <div class="card-content">
                  <p class="title">John Smith</p>
                  <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Phasellus nec iaculis mauris.
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>
      <section class="section">
        <div class="container">
          <h1 class="title">Preregistro</h1>
          <%= form_for Lead.new, url: {action: "create"}, html: {class: "box has-text-left"} do |f| %>
            <div class="field">
              <label class="label">Nombre</label>
              <div class="control">
                <%= f.text_field :name, class: "input" %>
              </div>
            </div>

            <div class="field">
              <label class="label">Correo Electronico</label>
              <div class="control has-icons-left has-icons-right">
                <%= f.text_field :email, class: "input" %>
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
              </div>
            </div>
            <p class="control">
              <%= f.submit "Me interesa", class: "button is-info" %>
            </p>
          <% end %>
        </div>
      </section>
      <section class="section">
        <div class="container">
          <h1 class="title">Patrocinadores</h1>
          <h2 class="subtitle">
            A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading
          </h2>
        </div>
      </section>
      <section class="section">
        <div class="container">
          <h1 class="title">Contacto</h1>
            <div class="columns">
              <div class="column">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15048.066631462598!2d-99.1658042!3d19.4548486!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfc518869be8ec0f3!2sCentro+Interdisciplinario+de+Ciencias+de+la+Salud%2C+Unidad+Santo+Tom%C3%A1s+IPN!5e0!3m2!1ses-419!2smx!4v1527467450680" frameborder="0" scrolling="no" onload="resizeIframe(this)" ></iframe>
              </div>
              <div class="column">
                <div class="content">
                  <h4>Av. de los Maestros S/N casi Esquina Calz. de los Gallos</h4>
                  <h4>Col. Santo Tomás, Delegación Miguel Hidalgo</h4>
                  <h4>C.P. 11340, Ciudad de México</h4>
                </div>
              </div>
            </div>
        </div>
      </section>
    </div>
  </div>
</section>
